/*Adding in styles*/
@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,200,700,600);

body, html {
    height: 100%;


}
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family:raleway;
    font-weight:200;
}

h1, h2, h3, h4, h5 {
    font-family:raleway;
}

h2 {
    font-weight:400;
}

h3 {
    font-weight:200;
}

#actionBar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 30%;
    margin-left: -30%;
    background: rgb(24, 33, 61);
}

#main-container {
    height: 100%;
    margin-left:30%
}

#actionBar{
    height: 100%;
    background-color:rgb(24, 33, 61);
    max-width:365px;
}

#actionBar div:first-child {
    padding:0 30px;
    color:#FFF;
}

#actionBar h1 {
    margin:75px 0;
}

#actionBar h2 {
    text-align:center;
}

ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

#actionBar ul li{
    list-style:none;
}

#actionBar ul .active {
    font-weight:700;
    font-size:120%;
    position: relative;
}

#actionBar ul .active:before {
    content: "";
    border-color: transparent #FFF;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top:5px;
    position: absolute;
}
/*Main Content stuff*/

#main-content h1 {
    padding-bottom:5px;
    border-bottom:#ccc 1px solid;
}

#main-content h2, #main-content h3{
    margin: 0;
    border:none;
}

#main-content > div {
    padding: 160px 20px;
}

#main-content form div {
    display:block;
    margin:10px 0;
}

#quoteDetails h3 {
    padding-bottom:5px;
    margin:15px 0;
    border-bottom:#ccc 1px solid;
}

/*Form Stuff*/
#getQuoteForm input {
    width:150px;
}

#quoteForm {
    width:400px;
}

#quoteForm input, #quoteForm button {
float: right;
}

#quoteForm h3 {
    padding-bottom:5px;
    margin-bottom:10px;
    border-bottom:#ccc 1px solid;
}




